{% extends 'layout.html' %}

{% block title %}{{ event.eventname }}{% endblock %}

{% block content %}

{% if errors is not empty %}
<h3>Erreur</h3>
<p>L'événement spécifié n'existe pas</p>

{% else %}

<div class="row">
{% if participate(event.eventid) %}
  <a href="{{ queries('events','quitter',{'idevent':event.eventid}) }}"><span class="badge badge-important">Ne plus participer</span></a>
{% else %}
  <a href="{{ queries('events','participer',{'idevent':event.eventid}) }}"><span class="badge badge-success">Participer</span></a>
{% endif %}
<h3 class="page-header">{{ event.eventname }} <small>organisé par <a class="unstyled" href="{{ queries('membres','details',{'membid':event.creator}) }}">{{ event.membfirstname }} {{ event.memblastname }}</a>{% if event.grp is not empty %} dans le groupe <a class="unstyled" href="{{ queries('groupes','details',{'idGroupe':event.grp}) }}">{{ event.grpname }}</a>{% endif %}.</small></h3>

<div class="span8">
  <div class="well lead text-center">Le {{ sqlDatetimeToFrench(event.date, 'DATE', 'MO_LETTERS') }} à {{ sqlDatetimeToFrench(event.time, 'TIME') }}</div>
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th>Groupe</th>
		<th>Createur</th>
		<th>Catégorie</th>
		<th>Date</th>
	</tr>
	<tr>
		<td>{{ event.grp }}</td>
		<td>{{ event.membfirstname }} {{ event.memblastname }}</td>
		<td>{{ event.category }}</td>
		<td>{{ sqlDatetimeToFrench(event.date, 'DATE') }}</td>
	</tr>
</table>


</div>
</div>
{% endif %}
{% endblock %}