{% extends 'layout.html' %}

{% block title %}Nouvel événement{% endblock %}

{% block content %}

<div class="row">
  <a class="btn" href="{{ queries('groupes','details',{'idGroupe':grpid}) }}"><i class="icon-arrow-left"></i></a> retour vers {{ grpname }}
</div>
<h3 class="page-header">Création événement</h3>

{% if errors is not empty %}
<div class="row">
  <div class="span5">
    <div class="alert alert-box alert-error">
      <h4>Erreur !</h4>
      <p>
        <ul class="unstyled">
          {% for error in errors %}
          <li>- {{ error }}</li>
          {% endfor %}
        </ul>
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
<div class="span5">
	<form class="form-horizontal" method="post" action="{{ queries('events','creer',{'grpid':grpid}) }}" >
	    <div class="control-group">
		    <label class="control-label" for="eventname">Nom</label>
		    <div class="controls">
			    <input type="text" placeholder="Nom Evénement" id="eventname" name="eventname" value="{{ values.eventname }}" required="required"/>
			</div>
			<br/>
  		<div class="control-group">
		    <label class="control-label" for="datepickerEventsCreer">Date</label>
		    <div class="controls">
			    <input readonly="" value="{{ values.eventdate }}" data-date-format="dd/mm/yy" id="datepickerEventsCreer" name="eventdate" type="text">
		    </div>
		</div>
			<div class="control-group">
			 <label class="control-label" for="hours">Heure</label>
			 <div class="controls">
			   <select class="span1" id="hours" name="hours">
			     {% for i in 0..23 %}
			     <option value="{{ i }}" {% if i == values.hours %}selected="selected"{% endif %}>{{ i }}</option>
			     {% endfor %}
			   </select>
			   <span>H</span>
			   <select class="span1" name="minutes">
			     {% for i in [0,15,30,45] %}
           <option value="{{ i }}" {% if i == values.minutes %}selected="selected"{% endif %}>{{ i }}</option>
           {% endfor %}
			   </select>
			 </div>
			</div>
			<div class="control-group">
			 <label class="control-label" for="category">Catégorie</label>
			 <div class="controls">
			   <select id="category" name="category">
			     {% for category in categories %}
			     <option value="{{ category.catid }}" {% if category.catid == values.category %}selected="selected"{% endif %}>{{ category.catlabel }}</option>
			     {% endfor %}
			   </select>
			 </div>
			</div>
			<div class="control-group">
			 <div class="controls">
			   <input class="btn" type="submit" value="Enregistrer" />
			   <input type="hidden" name="filled" value="true" />
			 </div>
			</div>
		</div>
	</form>
</div>
</div>

{% endblock %}