{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<h1 class="page-header">{{ groupe[0].grpname }}</h1>
<div class="row">
<div class="span9">

<h2>Description</h2>
<p align="justify"> 
{{ groupe[0].description }}
</p>

<br />
<h2>Evènements créés</h2>
<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>Nom</th>	
			<th>Organisateur</th>
			<th>Date</th>
			<th>Heure</th>
			<th></th>
		</tr>
	<tbody>
	{% for event in events %}
		<tr>
			{% set tab = { 'idEvent' : event.eventid} %}
			<td>{{ event.eventname }}</td>
			<td>{{ event.membfirstname }} {{ event.memblastname }}</td>
			<td>{{ event.date }}</td>
			<td>{{ event.time }}</td>
			<td>
			    <div class="btn-group">
    				<button class="btn">Participer</button>
    			</div>
		</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
	{% if isLogged() %}
    <div >
<!-- 		{% if isMb(groupe[0].grpid) %} -->
			{% if isMbPlus(groupe[0].grpid) %}
   			{% set tabCat = {"nom" : groupe[0].grpname, 'idGroupe':groupe[0].grpid } %}
			<a class="btn" href="{{ queries('groupes','creerCat', tabCat) }}">Creer catégorie</a>
			<a class="btn" href="{{ queries('groupes','supprimerCat', tabCat) }}">Supprimer catégorie</a>
			{% endif %}
			<a class="btn" href="{{ queries('events','creer',{}) }}">Créer évenement</a>
	{% else %}
		<a href= "{{ queries('groupes', 'rejoindre', {'idGroupe':groupe[0].grpid}) }}" class="btn">Rejoindre ce groupe</a>
	{% endif %}
    </div>
    {% endif %}
</div>

<!-- Modification des paramètres du groupe -->
<div class="span3">

	{% if isMbPlus(groupe[0].grpid) %}
		<div class="control-group">
		<div class="controls">		
			<div class="btn-group">
	    		<a class="btn btn-block btn-primary" href = "{{ queries('groupes','modifier',{'idGroupe': groupe[0].grpid}) }}">Modifier les paramètres du groupe</a>
	    	</div>
    	</div>
		</div>
    {% endif %}
	
</div>

<div class="span3">

<table class="table table-striped table-hover table-bordered">
	<thead>
	<tr>
		<th>Membres</th>
		</tr>
	</thead>
	<tbody>
	{% for membre in membres %}
		<tr>
			<td>
			<div class="span2">
			{{ membre.membfirstname }} {{ membre.memblastname }}
			</div>
			{% if isLogged() %}
			<div class="span2">
				<div class="span1">
					<div class="btn-toolbar">
						<div class="btn-group">
			    				<button class="btn-mini"><img src="{{ images() }}/profil.png" /></button>
			    				{% if membre.membid != loggedMember().id %}
			    				<button class="btn-mini" href="#grant_confirm" data-toggle="modal"><img src="{{ images() }}/plus.png" /></button>
								{% import 'modal.html' as showModal %}
								{{ showModal.modal('grant_confirm', 'Accorder droits au membre?', 'Voulez vous vraiment donner les droits à ce membre?', 'Oui', queries('groupes', 'donner_droits_membre', { 'id' : membre.membid, 'idG' : groupe[0].grpid}), 'Non') }}
			    				<button class="btn-mini" href="#delete_confirm" data-toggle="modal"><img src="{{ images() }}/delete.png" /></button>
			    				{{ showModal.modal('delete_confirm', 'Supprimer membre ?', 'Voulez vous vraiment supprimer ce membre?', 'Oui', queries('groupes','supprimer_membre', { 'id' : membre.membid , 'idG' : groupe[0].grpid}), "Non") }}
			    				{% endif %}
			    		</div>
		    		</div>
	    		</div>
	    	</div>
	    	{% endif %}
	    	</td>
		</tr>
	{% endfor %}
		<tr>
			<td>
				<div class="btn-group">
    				<a class="btn btn-block" href = "{{ queries('groupes','afficher_membre',{'idGroupe': groupe[0].grpid}) }}">Afficher tous les membres ({{ nbMembres }})</a>
    			</div>
		</tr>
	</tbody>
</table>
</div>
</div>
{% endblock %}