{% extends 'layout.html' %}

{% block title %}Membres de {{ groupe.grpname }}{% endblock %}

{% block content %}

<h3 class="page-header">Membres du groupe {{ groupe.grpname }}</h3>

<div class="span5 offset3">
<table class="table table-striped table-hover table-bordered">
	<thead>
	<tr>
		<th>Membres</th>
		</tr>
	</thead>
	<tbody>
	{% for membre in membres %}
		<tr>
			<td class="row">
			 <div>
			 {{ membre.membfirstname }} {{ membre.memblastname }}
			 </div>
			 <div>
					<div class="btn-group">
			     <a class="btn" href="{{ queries('membres','details',{'membid':membre.membid}) }}"><i class="icon-user"></i></a>
			       {% if membre.membid != loggedMember().id %}
			    	  {% if isMbPlus(groupe.grpid) %}
			    		 {% if not isMbPlus(groupe.grpid, membre.membid) %}
			    		 <a class="btn" href="{{ queries('groupes','donner_droits_membre',{'id':membre.membid,'idG':groupe.grpid}) }}"><i class="icon-plus"></i></a>
			    		 {% endif %}
			    		 <a class="btn" href="{{ queries('groupes','supprimer_membre',{'id':membre.membid,'idG':groupe.grpid}) }}"><i class="icon-remove"></i></a>
			    		{% endif %}
			    	{% endif %}
		    	</div>
	    	</div>
	    </td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}