{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<h1 class="page_header">Les groupes</h1>
<p>Parcourez les groupes pour trouver des événements qui vous conviennent.</p>

{% if errors is not empty %}
<h5>{{ errors[0] }}</h5>
{% else %}
<table class="table table-bordered table-stripped">
	<tr>
		<th>Catégorie</th>
		<th>Nom</th>
		<th>Description</th>
		<th>Nombre de membres</th>
		<th></th>
	</tr>
	{% for groupe in groupes %}
	{% if groupe.visibility == 1 %}
	<tr>
		<td>{{ groupe.catlabel }}</td>
		<td>{{ groupe.grpname }}</td>
		<td>{{ groupe.description }}</td>
		<td>{{ groupe.nbmemb }}</td>
		<td><a href="{{ queries('groupes','details',{'idGroupe':groupe.grpid}) }}" class="btn">Détails</a></td>
	</tr>
	{% endif %}
	{% endfor %}
</table>
{% endif %}

{% endblock %}