{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<div class="row">
	<div class="btn-group pull-right">
	  {% if isLogged() and isMb(groupe.grpid) %}
	   {% if isMbPlus(groupe.grpid) %}
	     <a class="btn btn-small" href="{{ queries('groupes','modifier',{'idGroupe': groupe.grpid}) }}"><i class=" icon-wrench"></i> Modifier</a>
	   {% endif %}
	   <a class="btn btn-small" href="{{ queries('events','creer',{'grpid':groupe.grpid}) }}"><i class="icon-bookmark"></i> Créer évenement</a>
	  {% endif %}
	</div>
	<div>
	{% if isLogged() %}
	 {% if isMb(groupe.grpid) %}
     <a href="{{ queries('groupes','quitter',{'grpid':groupe.grpid}) }}"><span class="badge badge-important">Quitter</span></a>
   {% else %}
     <a href="{{ queries('groupes','rejoindre',{'idGroupe':groupe.grpid}) }}"><span class="badge badge-success">Rejoindre</span></a>
   {% endif %}
  {% endif %}
	 <h3 class="page-header">{{ groupe.grpname }}</h3>
	</div>
</div>

<div class="row">
	<p class="well" align="center"> 
	{{ groupe.description }}
	</p>
</div>

<div class="row">

<div class="span5">
	<h4>Evénements du groupe par catégorie</h4>
	<div class="accordion" id="accordion2">
	  {% for category in categories %}
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle btn" data-toggle="collapse" data-target="#{{ category.catid }}">{{ category.catlabel }}</a>
	    </div>
	    <div id="{{ category.catid }}" class="accordion-body collapse">
	      <table class="table table-bordered table-striped table-hover">
	        {% for event in category.events %}
	        <tr><td>
	          <a class="btn pull-right" href="{{ queries('events','details',{'eventid':event.eventid}) }}" title="Détails"><i class="icon-info-sign"></i></a>
	          <strong>{{ event.eventname }}</strong> ({{ sqlDatetimeToFrench(event.date,'DATE') }} à {{ sqlDatetimeToFrench(event.time,'TIME') }})
	        </td></tr>
	        {% endfor %}
	      </table>
	    </div>
	  </div>
	  {% endfor %}
	</div>
</div>
<div class="span3 offset4">
  <h4>Qui est dans ce groupe ?</h4>
  <a class="btn btn-large btn-block" href="{{ queries('groupes','afficher_membre',{'idGroupe':groupe.grpid}) }}"><i class="icon-user"></i> {{ nbMembres }} membres</a>
</div>

</div>
{% endblock %}