{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<h3 class="page-header">Modification des paramètres du groupe</h3>
{% if errors is not empty %}
	<div class="row">
		<div class="span5 offset1">
			<div class="alert alert-box alert-error">
				<h4>Erreur !</h4>
				<p>
					<ul class="unstyled">
						{% for error in errors %}
						<li>- {{ error }}</li>
						{% endfor %}
					</ul>
				</p>
			</div>
		</div>
	</div>
{% elseif success is not empty %}
	<div class="row">
		<div class="span5 offset1">
			<div class="alert alert-success">
					<p>Les modifications ont bien été prises en compte.</p>
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<form class="form-horizontal" method="post" action="{{ queries('groupes','modifier',{'idGroupe': infosGrp.grpid}) }}" >
	    <div class="control-group">
		    <label class="control-label" for="inputEmail">Nom Groupe</label>
		    <div class="controls">
			    <input type="text" class="input-large" placeholder="Nom Groupe" name="nomGroupe" value="{{ infosGrp.grpname }}" />
			</div>
		</div>
		<div class="control-group">
		<label class="control-label" for="inputPassword">Description</label>
			<div class="controls">
					<textarea class="input-xxlarge" name="description" placeholder="Description">{{ infosGrp.description }}</textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			    <button type="submit" class="btn"><i class="icon-save"></i> Enregistrer</button>
			    <input type="hidden" name="filled" value="true" />
		    </div>
   		</div>
    </form>
</div>
<div class="row">
    <form class="form-horizontal" method="post" action="{{ queries('groupes','modifier',{'idGroupe': infosGrp.grpid}) }}" >
    	<div class="control-group">
			<div class="controls">
		    	<button type="submit" class="btn btn-danger"><i class="icon-remove"></i> Supprimer</button>
				<input type="hidden" name="supp" value="true" />
			</div>
		</div>
	</form>
	<form class="form-horizontal" method="post" action="{{ queries('groupes','details',{'idGroupe': infosGrp.grpid}) }}" >
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn"><i class="icon-reply"></i> Annuler</button>
				<input type="hidden" name="retour" value="true" />
			</div>
		</div>
	</form>
</div>

{% endblock %}