{% extends 'layout.html' %}

{% block title %}Supprimer categorie{% endblock %}

{% block content %}

{% if errors is not empty %}
<h5>{{ errors[0] }}</h5>
{% else %}

{% if msg is not empty %}
<div class="alert alert-success">
	<p>La catégorie a bien été suprimée.</p>
</div>
{% endif %}

<table class="table table-bordered table-stripped">
	<tr>
		<th>Nom</th>
		<th></th>
	</tr>
	{% for cat in categories %}
<form class="form-horizontal" method="post" action="{{ queries('groupes', 'supprimerCat', {'idGroupe': id} ) }}">
	<tr>
		<td>{{ cat.catlabel }}</td>
		<td>
			<div class="controls">
				<button class="btn" type="submit" >Supprimer</button>
				<input type="hidden" name="supr" value="true" />
				<input type="hidden" name="idcat" value="{{ cat.catid }}" />
			</div>
		</td>
	</tr>
</form>
	{% endfor %}

</table>

	
{% endif %}
{% endblock %}