{% extends 'layout.html' %}

{% block title %}Membre supprimé{% endblock %}

{% block content %}

<h1 class="page-header">Membres du groupe {{ groupe[0].grpname }}</h1>


<table class="table table-hover table-bordered">
	<thead>
	<tr>
		<th>Membres</th>
		</tr>
	</thead>
	<tbody>
	{% for membre in membres %}
		<tr>
			<td>
			<div class="span2">
			{{ membre.membfirstname }} {{ membre.memblastname }}
			</div>
			<div class="span2">
				<div class="span1">
					<div class="btn-toolbar">
						<div class="btn-group">
			    				<button class="btn-mini"><img src="/templates/profil.png" /></button>
			    				<button class="btn-mini"><img src="/templates/plus.png" /></button>
			    				<button class="btn-mini" href="#delete_confirm" data-toggle="modal"><img src="/templates/delete.png" /></button>
			    				{% import 'modal.html' as showModal %}
			    				{{ showModal.modal('delete_confirm', 'Supprimer membre ?', 'Voulez vous vraiment supprimer ce membre?', 'Oui', queries('groupes','supprimer_membre', { 'id' : membre.membid , 'idG' : groupe[0].grpid}), "Non") }}
			    		</div>
		    		</div>
	    		</div>
	    	</div>
	    	</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}