{% extends 'layout.html' %}

{% block title %}Creer categorie{% endblock %}

{% block content %}

{% if errors is not empty %}
<div class="alert">
	<h4>Erreur !</h4>
	<ul>
		{% for error in errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
</div>
{% elseif values.libelle is not empty %}
<div class="alert alert-success">
	<p>La catégorie <strong>{{ values.libelle }}</strong> a bien été ajoutée</p>
</div>
{% endif %}

<h1 class="page-header">{{ values.nom }}</h1>

<form class="form-horizontal" method="post" action="{{ queries('groupes', 'creerCat', {"idGroupe":values.grpid,"nom":values.grpname} ) }}">
	<div class="control-group">
		<label class="control-label" for="libelle">Nom de la catégorie : </label>
		<input type="text" id="libelle" name="libelle" placeholder="libelle" value="{{ values.libelle }}" required/>
	</div>

	<div class="control-group">
		<div class="controls">
			<button class="btn" type="submit">Creer</button>
			<input type="hidden" name="filled" value="true" />
		</div>
	</div>
</form>

{% endblock %}