{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<div class="row">
  <a class="btn" href="{{ queries('membres','details',{'membid':LOGGED_MEMBER.id}) }}"><i class="icon-arrow-left"></i></a><small> retour sur mon profil</small>
</div>
<div class="row">
  <div class="btn-group pull-right">
    <a href="{{ queries('groupes','creer', {}) }}" class="btn btn-small"><i class="icon-edit"></i> Nouveau</a>
  </div>
  <h3 class="page-header">Mes groupes<br/><small>Les groupes auxquels j'appartiens</small></h3>
</div>
<div class="row">
  {% if groupes is not empty %}
  <table class="table table-hover table-bordered">
    {% for groupe in groupes %}
      {% if groupe.visibility == 1 %}
      <tr><td>
        <a class="btn pull-right" href="{{ queries('groupes','details',{'idGroupe':groupe.grpid}) }}"><i class="icon-info-sign"></i></a>
        <strong>{{ groupe.grpname }}</strong><br/>
        <p><em>{{ tronque(groupe.description, 30) }}</em></p>
      </td></tr>
      {% endif %}
    {% endfor %}
  </table>
  {% else %}
  <p><em>Il n'y a aucun groupe à afficher</em></p>
  {% endif %}
</div>

{% endblock %}