{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

{% if isLogged() %}

<div class="row">
  <h3 class="page-header">Que faire ?</h3>
  <div class="span5 offset3">
    <a class="btn btn-block" href="{{ queries('events','afficher',{}) }}">Les événements</a>
    <a class="btn btn-block" href="{{ queries('groupes','afficher',{}) }}">Les groupes</a>
  	<a class="btn btn-block" href="{{ queries('groupes','mesgroupes',{}) }}">Mes groupes</a>
  </div>
</div>

{% else %}

<div class="hero-unit span6 offset2">
	<h2>TocTOAC</h2>
	<p>Social networking, Events following</p>
	<a class="btn btn-block btn-primary" href="{{ queries('membres','connexion',{}) }}">Connexion</a>
</div>
{% endif %}

{% endblock %}