{% extends 'layout.html' %}

{% block title %}A propos{% endblock %}

{% block content %}

<div class="hero-unit">
<h3>TocTOAC</h3>
<p>Documentation du projet</p>
</div>

<div class="row">
	<h1 class="page-header">Informations sur le projet</h1>
	<div class="span9">
		<h2>L'objectif</h2>
	</div>
	<div class="span3">
		<h2>L'équipe</h2>
	</div>
</div>
<div class="row">
	<h1 class="page-header">Outils</h1>
	<div class="span4">
		<h2>PersoFramework</h2>
	</div>
	<div class="span4">
		<h2>Bootstrap</h2>
	</div>
	<div class="span4">
		<h2>Twig</h2>
	</div>
</div>
<div class="row">
	<h1 class="page-header">Ressources pour programmeurs</h1>
	<div class="span6">
		<h2>Fonctions</h2>
	</div>
	<div class="span6">
		<h2>Constantes</h2>
	</div>
</div>
<div class="row">
	<h1 class="page-header">Procédures de développement</h1>
	<div class="span6">
		<h2>Structure d'un module</h2>
	</div>
	<div class="span6">
		<h2>Ajout d'un module</h2>
	</div>
</div>

{% endblock %}