{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

{% if isLogged() %}

<h3 class="header-page">Bienvenue {{ LOGGED_MEMBER.membfirstname }} {{ LOGGED_MEMBER.memblastname }} !</h3>
<div class="span">
<a href="{{ queries('groupes','afficher_groupes',{}) }}" class="btn">Mes groupes</a>
{% set tab = {} %}
<a class="btn" href="{{ queries('groupes','creer', tab) }}">Créer un groupe</a>

</div>
<div class="row">
{% else %}




<div class="row span5">

<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
	    <div class="active item">
	    	<img alt="" src="{{ images() }}/aurelien.png" />            
	    	<div class="carousel-caption">
                <h4>Mr le patron</h4>
            </div>
        </div>

	    <div class="item">
	    	<img alt="" src="{{ images() }}/pa.png" />            
	    	<div class="carousel-caption">
                <h4>SQL guy</h4>
            </div>
        </div>
	    
	    <div class="item">
	    	<img alt="" src="{{ images() }}/totor.png" />            
	    	<div class="carousel-caption">
                <h4>Le programmeur de la nuit</h4>
            </div>
	    </div>
	    
	    <div class="item">
	    	<img alt="" src="{{ images() }}/seb.png" />            
	    	<div class="carousel-caption">
                <h4>xXx-~=~-Le beau gosse du 31-~=~-xXx</h4>
            </div>
	    </div>
	            
	    <div class="item">
	    	<img alt="" src="{{ images() }}/thomas.png" />            
	    	<div class="carousel-caption">
                <h4>Secteur communication</h4>
            </div>
        </div>
	    
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



</div>

{% endif %}

</div>


{% endblock %}