{% if isLogged() %}
	{% set LOGGED_MEMBER = loggedMember() %}
{% endif %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.min.css" />
	    
  <style type="text/css">
    .main {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  
  <!-- Ajoute la compatibilité avec les téléphones -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ bootstrap() }}/css/bootstrap-responsive.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome.min.css" />
  <!-- [if lt IE 8]>
   <link rel="stylesheet" href="{{ fontAwesome() }}/css/font-awesome-ie7.min.css" />
  <![endif] -->
	<link rel="stylesheet" href="{{ bootstrap() }}/datepicker/css/datepicker.css" />
  
  <link rel="stylesheet" href="{{ css() }}/global.css" />
  
	 
	<title>{% block title %}{% endblock %} - Toc-TOAC</title>
</head>

<body>

 <header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
      
  		<a class="visible-desktop brand" href="{{ queries('','',{}) }}" title="Accueil">TocTOAC</a>
  		<a class="hidden-desktop brand" href="{{ queries('','',{}) }}" title="Accueil"><i class="icon-home"></i></a>
  		
  		<ul class="nav hidden-desktop">
  		  <li class="divider-vertical"></li>
  		  <li><a href="{{ queries('events','afficher',{}) }}" title="Evénements"><i class="icon-calendar"></i></a></li>
  		  <li><a href="{{ queries('groupes','afficher',{}) }}" title="Groupes"><i class="icon-group"></i></a></li>
  		</ul>
  		
   		<ul class="nav">
     	 <li class="visible-desktop"><a href="{{ queries('events','afficher',{}) }}" title="Evénements"><i class="icon-calendar"></i> Evénements</a></li>
     	 <li class="visible-desktop"><a href="{{ queries('groupes','afficher',{}) }}" title="Groupes"><i class="icon-group"></i> Groupes</a></li>
   		</ul>
   		<ul class="nav pull-right">
   		  {% if isLogged() %}
   		  <li class="dropdown">
   		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
   		      {{ LOGGED_MEMBER.membfirstname }} {{ LOGGED_MEMBER.memblastname }}
   		    <b class="caret"></b>
   		    </a>
   		    <ul class="dropdown-menu">
   		      <li><a href="{{ queries('membres','details',{'membid':LOGGED_MEMBER.id}) }}">Profil</a></li>
   		      <li><a href="{{ queries('groupes','mesgroupes',{}) }}">Mes groupes</a></li>
   		      <li class="divider"></li>
   		      <li><a href="{{ queries('membres','deconnexion',{}) }}">Déconnexion</a></li>
   		    </ul>
   		  </li>
   		  {% else %}
   			{% include "membres_form_connexion_inPopover.html" %}
   			<li><a href="#" class="html-popover-trigger" html-popover-content="#formConnect" data-placement="bottom" title="Connecter">Se connecter</a></li>
     		<li><a  href="{{ queries('membres','inscription',{}) }}">S'inscrire</a></li>
   		  {% endif %}
   		</ul>
    </div>
  </div>
</div>
</header> 
<div class="main container">
{% block content %}
{% endblock %}
</div>

<footer>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
  	<div class="container">
    	<ul class="nav">
      		<li><a href="{{ queries('','',{}) }}">Accueil</a></li>
      		{% if PROD_MODE() == false %}
      		{% set tab = {} %}
      		<li><a href="{{ queries('index','about',{}) }}">About</a></li>
      		<li><a href="{{ queries('test','',tab) }}">Tests de développment</a></li>
      		<li><a href="{{ queries('base', 'afficher', {}) }}">Afficher base</a></li>
      		{% endif %}
    	</ul>
    </div>
  </div>
</div>
</footer>

<script src="{{ templates() }}/js/jquery.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ bootstrap() }}/datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{ bootstrap() }}/datepicker/js/locales/bootstrap-datepicker.fr.js"></script>
<script src="{{ templates() }}/js/bootstrap-overlay.js"></script>
<script src="{{ templates() }}/js/btnPlus.js"></script>

</body>
</html>
