{% extends 'layout.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<form method="post">
<p><label for="pseudo">Entrez votre nom d'utilisateur : </label><input type="text" name="pseudo" /></p>
<p><label for="motDePasse">Entrez votre mot de passe : </label><input type="password" name="motDePasse"/></p>
<p><label for="verifMotDePasse">Entrez de nouveau votre mot de passe : </label><input type="password" name="verifMotDePasse" /></p>
<p><label for="adrMail">Adresse Mail</label><input type="text" name="adresseMail" /></p>

</form>
{% endblock %}