
{% set tab= {} %}
<form class="form-horizontal" method="post" action="{{ queries('membres', 'inscription', tab) }}">
	<div class="control-group">
		<label class="control-label" for="prenom">Votre prenom</label>
		<div class="controls">
			<input type="text" id="prenom" name="prenom" placeholder="Prénom" value="{{ values.prenom }}" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="nom">Votre nom</label>
		<div class="controls">
			<input type="text" id="nom" name="nom" placeholder="Nom" value="{{ values.nom }}" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="motDePasse">Mot de passe</label>
		<div class="controls">
			<input type="password" id="motDePasse" name="motDePasse" placeholder="Mot de passe" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="verifMotDePasse">Confirmation</label>
		<div class="controls">
			<input type="password" id="verifMotDePasse" name="verifMotDePasse" placeholder="Mot de passe" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">Adresse email</label>
		<div class="controls">
			<input type="email" id="email" name="email" placeholder="Email" value="{{ values.email }}" required/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button class="btn" type="submit">S'inscrire</button>
			<input type="hidden" name="filled" value="true" />
		</div>
	</div>

</form>