{% set tab= {} %}

<form method="post" action="{{ queries('membres', 'inscription', tab) }}">
 
<p><label for="prenom">Votre prenom :</label><input type="text" name="prenom" /></p>
<p><label for="nom">Votre nom :</label><input type="text" name="nom" /></p>
<p><label for="motDePasse">Mot de passe :</label><input type="password" name="motDePasse"/></p>
<p><label for="verifMotDePasse">Confirmation mot de passe : </label><input type="password" name="verifMotDePasse" /></p>
<p><label for="adrMail">Adresse email :</label><input type="text" name="adresseMail" /></p>
<p><input type="submit" value="S'inscrire" /></p>

</form>