{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<h1 class="page-header">Mes Groupes</h1>
<div class="row">
	<div class="span10">
	
	<br />
	
	<table class="table table-striped table-hover">
		<tr>
			{% set tab = {} %}
			<th><a href = "{{ queries('groupes','afficher',tab) }}">Nom</a></th>
			<th>Nombre de membres</th>
		</tr>
	{% for groupe in groupes %}
	{% set tab = {'id':bien.idbien, 'checked':checked} %}
		<td>{{ groupe.grpName }}</td>
		<td></td>
		</tr>
	{% endfor %}
	</table>
	
	</div>
</div>
{% endblock %}