{% extends 'layout.html' %}

{% block title %}Groupes{% endblock %}

{% block content %}

<h1 class="page-header">Mes Groupes</h1>
<div class="row">
	<div class="span10">
	
	<br />
	
	<table class="table table-striped table-hover">
		<tr>
			<th>Nom</th>
			<th>Nombre de membres</th>
		</tr>
	{% for groupe in listGrps %}
	{% set tab = {'idGroupe': groupe.grpid} %}
		<tr>
			<td><a href = "{{ queries('groupes','afficher',tab) }}">{{ groupe.grpname }}</a></td>
			<td></td>
		</tr>
	{% endfor %}
	</table>
	
	</div>
</div>
{% endblock %}